<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @recipe.name %>
    <%= @recipe.ingredients %>
    <%= @recipe.cook_time %>
    <form action="/recipes/<%= @recipe.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <a href="/recipes/<%= @recipe.id %>/delete">Delete Recipe</a>
      <button type="submit" name="delete" value="delete"></button>
    </form>
  </body>
</html>
